body {
    background:url("/images/YBR.jpg") fixed 50% / cover;
    background-repeat:no-repeat;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    text-shadow: 2px 2px 4px darkgreen;
}

h1 {
    background-image: url(/images/yellowbrick.jpg);
    background-size:10%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    text-shadow:none;
    font-size:60px;
    
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.castimg_container {
    display:flex;
    justify-content: center;
    margin: 0 25px;
}

.synopsis_container {
    background-color:rgba(255, 255, 255, 0.5);
    border:2px ridge white;
    border-radius: 5px;
    margin:0 25px;
}

.synopsis_container p {
    margin:25px 25px;
    
}

.cast_el {
    margin:25px 25px;
    width:300px;
    height:auto;
    filter: drop-shadow(5px 5px 0px darkgreen);
    
    
}

.friendimg_el {
    width:180px;
    height:auto;
    filter: drop-shadow(5px 5px 0px darkgreen);
}

.witchimg_el {

    width:250px;
    height:auto;
    filter: drop-shadow(5px 5px 0px darkgreen);

}

nav ul {
    border:2px ridge white;
    border-radius: 5px;
    background:url("/images/ruby.jpg");
    background-size: cover;
    display:flex;
    justify-content: space-evenly;
    list-style-type:none;
    margin:0;
    padding:10px 10px;
}

nav li {
    display:inline;
}

.friends_container h2 {
    border:2px ridge white;
    border-radius: 5px;
    background:url("/images/ruby.jpg");
    background-size: cover;
    margin-left:350px;
    margin-right:350px;
}

.main_friends {
    display:flex;
    flex-wrap:wrap;
    text-align:center;
    justify-content: space-evenly;
}


.main_witches {
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    text-align:center;
    align-content: center;
}
.friend {
    max-width:200px;
    height:200px;
    
}

.witch {
    max-width:500px;
    height:500px;
    overflow:hidden;
}

aside {
    margin: 20px 20px;
    border:2px ridge white;
    border-radius: 5px;
    background:url("/images/emerald.jpg");
    background-size: cover;
}

.article_container {
    margin: 0 25px;
}

footer {
    text-align: center;
    margin-left:280px;
    margin-right:280px;
    margin-top:50px;
    border:2px ridge white;
    border-radius: 5px;
    background:url("/images/ruby.jpg");
    background-size: cover;
}

a:link {
    color:white;
    background-color:transparent;
    text-decoration:none;
  }
  
  a:visited {
    color:whitesmoke;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color:gold;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: goldenrod;
    background-color: transparent;
    text-decoration: underline;
  }

.img_container {
    display:flex;
    justify-content: center;
    margin: 20px 0;
}

.profile_container {
    display:flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-content:center;

}

.profile_container p {
    text-align:center;
    margin: 20px 30px;
     

}

.quote_element {
    display:flex;
    flex-flow: column wrap;
    text-align: center;
    color:darkgreen;
    text-shadow:1px 1px 0px white;
    font-style:italic;
    margin-bottom:25px;
    margin-top:10px;
}


.quote_source {
    display: flex;
    flex-flow:column wrap;
    color:darkgreen;
    font-style:italic;
    text-align: center;
    
    
}

.profile_image {
    justify-content: center;
    width:300px;
    height:auto;
    filter: drop-shadow(5px 5px 0px darkgreen)
}

.bio_container {
    margin: 10px 20px;
    border:2px ridge white;
    border-radius: 5px;
    background:url("/images/emerald.jpg");
    background-size: cover;
}

.witch p {
    margin: 10px 20px;
    border:2px ridge white;
    border-radius: 5px;
    background:url("/images/emerald.jpg");
    background-size: cover;
    
}

.witch h3 {
    border:2px ridge white;
    border-radius: 5px;
    background:url("/images/ruby.jpg");
    background-size: cover;
    margin-left:150px;
    margin-right:150px;
}